@model Lab1.ViewModels.StandingsViewModel
@using Lab1.Models
@{ 
    ViewData["Title"] = "Standings"; 
}

<div class="row">
    <div class="col-md-12">

        <h1 style="text-align: center">Standings</h1>
        <table id="tableRounds" border="1">

            <tr>
                <th style="text-align: center">#</th>
                <th style="text-align: center">Club name</th>
                <th style="text-align: center">Games</th>
                <th style="text-align: center">Wins</th>
                <th style="text-align: center">Loses</th>
                <th style="text-align: center">Draws</th>
                <th style="text-align: center">Goal difference</th>
                <th style="text-align: center">Points</th>
            </tr>

            @foreach (StandingsRow standing in Model.Standings)
            {
                <tr>
                    <td>@standing.OrderId</td>
                    <td>@standing.ClubName</td>
                    <td>@standing.Games</td>
                    <td>@standing.Wins</td>
                    <td>@standing.Loses</td>
                    <td>@standing.Draws</td>
                    <td>@standing.GoalDifference</td>
                    <td>@standing.Points</td>
                </tr>
            }
        </table>
    </div>
</div>
